<app-cargando *ngIf="cargando"></app-cargando>
<div class="container">
  <div class="row">
    <p class="fs-1 text-center" style="border-bottom: 1px solid;">{{titulo}}</p>
  </div>
  <br>
  <form [formGroup]="filtroForm" class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Ingrese Cedula" formControlName="numeroCedula">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Ingrese Nombre" formControlName="nombre">
    </div>
    <div class="col">
      <input id="startDate" class="form-control" type="date" formControlName="fechaNacimiento" />
    </div>
    <div class="col">
      <select class="form-select" aria-label="Default select example" (change)="tipoOrden($event)">
        <option selected>Ordenar</option>
        <option value="desc">Descendiente</option>
        <option value="asc">Ascendente</option>
      </select>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a routerLink="crear-modificar">
        <button class="btn btn-outline-primary">
          Crear
        </button>
      </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let persona of listaPersona | filtroPersonas: filtroForm.value: orden | paginate: { itemsPerPage: 10, currentPage: pagina }">
            <td>{{persona.numeroCedula}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.fechaNacimiento}}</td>
            <td>
              <button class="btn btn-outline-success" type="button" style="border: none; margin-right:0.2rem" [routerLink]="['crear-modificar', persona.numeroCedula]">
                Actualizar
              </button>
              <button class="btn btn-outline-danger" type="button" style="border: none;" (click)="clickEliminarPersona(persona.numeroCedula)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="col d-flex justify-content-center">
        <pagination-controls  (pageChange)="pagina = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
  </div>
</div>
