<div class="container">
  <div class="row">
    <h1>{{titulo}}</h1>
  </div>
  <br>
  <form [formGroup]="filtroForm" class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Ingrese Cedula" formControlName="numeroCedula">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Ingrese Nombre" formControlName="nombre">
    </div>
    <div class="col">
      <input id="startDate" class="form-control" type="date" formControlName="fechaNacimiento" />
    </div>
    <div class="col">
      <select class="form-select" aria-label="Default select example" (change)="tipoOrden($event)">
        <option selected>Ordenar</option>
        <option value="desc">Descendiente</option>
        <option value="asc">Ascendente</option>
      </select>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col">
      <a routerLink="crear-modificar">
        <button class="btn btn-primary">
          Crear
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of listaPersona | filtroPersonas: filtroForm.value: orden">
            <td>{{persona.numeroCedula}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.fechaNacimiento}}</td>
            <td>
              <button class="btn btn-success" type="button" style="border: none; margin-right:0.2rem" [routerLink]="['crear-modificar', persona.numeroCedula]">
                Actualizar
              </button>
              <button class="btn btn-danger" type="button" style="border: none;" (click)="clickEliminarPersona(persona.numeroCedula)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
